/*.bg_left{*/
/*float: left;*/
/*width: 55%;*/
/*height:auto;*/
/*}*/
.bg_all {
    width: 80%;
    height: auto;
}

.Title {
    font-size: 25px;
}

.Title::before {
    font-size: 25px;
    content: '//';
}

.img {
    width: 80%;
    height: 14px;
    background: url("../img/star-grey.png") no-repeat;
}

.heart::before {
    content: "\f004";
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    position: absolute;
    top: 6px;
    left: 7px;
}